.wrapper {
  .contact-wrapper {
    padding: 0 10px;

    .contact-header {
      padding: 35px 10px;

      .contact-headline {
        float: left;

        &::after {
          left: 0;
        }
      }

      .contact-subheadline {
        float: left;
        clear: both;
      }

      &::after {
        content: '';
        clear: both;
        display: table;
      }
    }

    .contact {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-flow: column;

      .contact-lead {
        font-size: 1.8em;
        color: #757575;
        text-align: center;
        font-weight: 700;
        width: 100%;
      }

      .contact-sublead,
      .contact-mail {
        font-size: 1.2em;
        color: #757575;
        text-align: center;
        font-weight: 300;
        width: 100%;
      }

      .contact-mail {
        margin-top: 20px;
      }

      .contact-mail-icon {
        color: #0f2133;
        font-size: 48px;
        margin-top: 30px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  body {
    .wrapper {
      .contact-wrapper {
        .contact-header {
          padding: 35px 85px;
        }

        .contact {
          height: 400px;

          .contact-lead {
            font-size: 2.4em;
          }

          .contact-sublead,
          .contact-mail {
            font-size: 1.4em;
          }

          .contact-mail-icon {
            font-size: 64px;
          }
        }
      }
    }
  }
}