html {
  body {

    .workspace-wrapper {
      .workspace {
        .work {
          .gallery-wrapper {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #fff;
            z-index: 1010;
            display: none;

            .gallery-close-icon {
              color: #757575;
              font-size: 24px;
              position: absolute;
              top: 35px;
              right: 35px;
              cursor: pointer;
            }

            .gallery {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              flex-flow: column;

              .gallery-images-wrapper {
                width: 100%;
                padding: 0 75px;

                .gallery-images {
                  position: relative;

                  .owl-dots {
                    position: absolute;
                    z-index: 1000;
                    bottom: -45px;
                    left: 50%;
                    right: auto;
                    display: flex;
                    justify-items: center;
                    transform: translateX(-50%);

                    &.disabled {
                      display: none;
                    }

                    .owl-dot {
                      background: transparent;
                      padding: 0;
                      margin: 5px;
                      border: 0;

                      span {
                        width: 10px;
                        height: 10px;
                        background: rgba(0,0,0,.3);
                        display: block;
                        border-radius: 50%;
                      }

                      &.active {
                        span {
                          width: 14px;
                          height: 14px;
                          background: rgba(0,0,0,1);
                        }
                      }

                      &:focus {
                        outline: none;
                      }
                    }
                  }

                  .owl-nav {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;

                    &.disabled {
                      display: none;
                    }

                    .owl-prev {
                      float: left;
                      margin-left: -60px;
                      background: transparent;
                      border: 0;
                      font-size: 24px;
                      color: rgba(0,0,0,.6);
                      cursor: pointer;
                      transition: .2s all;

                      &:focus {
                        outline: none;
                      }

                      &:hover {
                        color: rgba(0,0,0,1);
                      }
                    }

                    .owl-next {
                      float: right;
                      margin-right: -60px;
                      background: transparent;
                      border: 0;
                      font-size: 24px;
                      color: rgba(0,0,0,.6);
                      cursor: pointer;
                      transition: .2s all;

                      &:focus {
                        outline: none;
                      }

                      &:hover {
                        color: rgba(0,0,0,1);
                      }
                    }
                  }
                }
              }

              .gallery-information {
                width: 100%;
                padding: 95px;

                .gallery-item-name {
                  font-size: 1.8em;
                  color: #0f2133;
                  font-weight: 700;
                }

                .gallery-item-description {
                  font-size: 1.4em;
                  color: #757575;
                  font-weight: 300;
                }

                .gallery-item-live-button {
                  border: 2px solid #ff6000;
                  border-radius: 5px;
                  font-size: 1.4em;
                  color: #ff6000;
                  text-transform: uppercase;
                  padding: 5px 35px;
                  font-weight: 700;
                  transition: .2s all;
                  cursor: pointer;
                  margin-top: 30px;
                  display: inline-block;

                  &:hover {
                    background: #ff6000;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {

  html{
    body {
      .workspace-wrapper {
        .workspace {
          .work {
            .gallery-wrapper {
              .gallery {
                flex-wrap: nowrap;
                flex-direction: row;

                .gallery-images-wrapper {
                  width: 50%;
                  margin-top: 85px;
                }

                .gallery-information {
                  width: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}
