h2 {

  font-size: 1.8em;
  font-weight: 700;
  color: #0f2133;
  position: relative;
  margin: 0;

  &::after {
    width: 40px;
    height: 3px;
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    background: #ff6000;
    right: 0;
  }
}

h4 {
  margin-top: 30px;
  font-size: 1.4em;
  font-weight: 300;
  color: #757575;
  margin-bottom: 0;
}