.hero {
  background: #061B2F;
  width: 100%;
  height: 890px;
  position: relative;

  #hero-strings {
    display: none;
  }

  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 101%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
  }

  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 101%;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
  }

  .logo {
    text-align: center;
    width: 100%;
    display: block;
  }

  .hero-image-wrapper {
    width: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .hero-wrapper {
    position: absolute;
    padding: 90px 85px;
    width: 100%;
    height: 100%;

    .hero-content-wrapper {
      text-align: center;
      width: 100%;
      left: 0;
      padding: 0 85px;

      .hero-button {
        margin: 50px auto 0 auto;
      }

      .hero-headline {
        font-size: 3em;
        color: #fff;
        line-height: 32px;
      }

      .hero-subline {
        font-size: 1.8em;
        color: #95d7ff;
        margin-top: 30px;
        line-height: 32px;
        min-height: 64px;
      }
    }

    .hero-content-wrapper {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;


      .hero-button {
        border: 2px solid #fff;
        border-radius: 3px;
        height: 40px;
        line-height: 38px;
        display: block;
        width: 130px;
        font-size: 14px;
        color: #fff;
        margin-top: 50px;
        text-decoration: none;
        transition: .2s all;
        font-weight: 600;

        &:hover {
          background: #fff;
          color: #061B2F;
        }
      }
    }

    .navigation {
      position: fixed;
      width: 320px;
      left: -320px;
      top: 0;
      height: 100%;
      padding: 0;
      background: #fff;
      z-index: 20;

      .navigation-list {
        height: 100%;
        margin-top: 200px;

        .navigation-item {
          margin-left: 0;
          margin-top: 20px;

          .navigation-button {
            height: 40px;
            border: 0;
            display: block;
            font-size: 1.4em;
            padding: 0 25px;
            line-height: 38px;
            color: #575757;
            text-decoration: none;
            font-weight: 600;
            transition: .2s all;

            &:hover {
              color: #ff6000;
            }
          }
        }
      }
    }

    .go {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 72px;
      height: 72px;
      background: #fff;
      display: flex;
      justify-content: center;
      color: #061B2F;
      border-radius: 50%;
      font-size: 16px;
      text-decoration: none;
      transform: translate(-50%, 50%);

      .go-icon {
        position: relative;
        top: 5px;
        animation: arrow-move 1s ease-in-out infinite alternate;
      }
    }
  }
}

@media screen and (min-width: 860px) {
  body {
    .hero {
      .logo {
        text-align: left;
        width: auto;
        float: left;
      }

      .hero-wrapper {
        .hero-content-wrapper {
          text-align: left;
          width: 100%;
          left: 0;
          padding: 0 85px;

          .hero-subline {
            min-height: 64px;
          }

          .hero-button {
            margin: 50px 0 0 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  body {

    .hero {
      .hero-wrapper {
        .navigation {
          float: right;
          position: static;
          background: none;
          height: auto;

          .navigation-list {
            display: flex;
            float: right;
            margin-top: 10px;
            height: auto;

            .navigation-item {
              margin-left: 65px;
              margin-top: 0;

              .navigation-button {
                height: 40px;
                border: 2px solid transparent;
                border-radius: 3px;
                display: block;
                font-size: 1.4em;
                padding: 0 25px;
                line-height: 38px;
                color: #fff;
                text-decoration: none;
                font-weight: 600;
                transition: .2s all;

                &:hover {
                  border: 2px solid #ff6000;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}