.wrapper {
  .hire-wrapper {
    padding: 0 10px;


    .hire {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background: #f6f6f6;
      padding: 35px;

      .hire-competence {
        width: 100%;
        margin-bottom: 20px;

        .hire-competence-text {
          font-size: 1.8em;
          font-weight: 700;
          color: #757575;
          margin-bottom: 5px;
        }

        .hire-competence-list-header {
          font-size: 1.4em;
          font-weight: 300;
          color: #757575;
        }

        .hire-competence-list {
          padding: 0;
          list-style: none inside;
          margin-top: 40px;

          .hire-competence-list-item {
            font-size: 1.4em;
            font-weight: 300;
            color: #757575;
            margin-bottom: 15px;

            &::before {
              content: '';
              display: block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: #ff6000;
              float: left;
              margin-right: 10px;
              margin-top: 6px;
            }
          }
        }
      }

      .hire-cv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .hire-cv-link {
          border: 2px solid #ff6000;
          border-radius: 5px;
          font-size: 1.8em;
          color: #ff6000;
          text-transform: uppercase;
          padding: 15px 65px;
          font-weight: 700;
          transition: .2s all;
          cursor: pointer;

          &:hover {
            background: #ff6000;
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  body {
    .wrapper {
      .hire-wrapper {
        .hire {
          height: 500px;

          .hire-competence {
            width: 50%;
            padding: 0 50px;

            .hire-competence-text {
              font-size: 2.4em;
            }

            .hire-competence-list-header {
              font-size: 1.8em;
            }
          }

          .hire-cv {
            width: 50%;
          }
        }
      }
    }
  }
}