@import "variables";
@import "headers";
@import "keyframes";
@import "hero";
@import "workspace";
@import "gallery";
@import "contact";
@import "hire";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~animate.css";
@import "~hamburgers/_sass/hamburgers/hamburgers";
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";
@import url("https://fonts.googleapis.com/css?family=Exo:300,400,600,700,800&subset=latin-ext");
@import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");


body {
  font-size: 62.5%;
  font-family: 'Exo', sans-serif;

  .wow { visibility: hidden; }

  .hamburger {
    position: absolute;
    top: 95px;
    left: 25px;
    z-index: 200;

    &.opened {
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: #000;
      }
    }
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
  }

  .footer {
    padding: 45px 95px;

    &::after {
      content: '';
      clear: both;
      display: table;
    }

    .copyright {
      font-size: 1.4em;
      font-weight: 300;
      color: #010101;
      margin: 0;
      width: 100%;
      text-align: center;
    }

    .social-icon-list {
      width: 100%;
      display: flex;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-top: 35px;

      .social-icon-item {
        margin: 0 30px;

        .social-icon-link {
          .social-icon {
            color: rgba(0,0,0,.2);
            font-size: 2.4em;
            transition: .2s all;

            &:hover {
              color: rgba(0,0,0,1);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  body {
    .hamburger {
      display: none;
    }

    .footer {
      padding: 45px 95px;

      .copyright {
        font-size: 1.4em;
        float: left;
        text-align: left;
        width: auto;
      }

      .social-icon-list {
        float: right;
        width: auto;
        margin: 0;

        .social-icon-item {
          margin: 0 0 0 30px;
        }
      }
    }
  }
}