.wrapper {
  .workspace-wrapper {
    padding: 0 10px;

    .workspace-header {
      padding: 35px 10px;

      .workspace-headline {
        float: right;

        &::after {
          right: 0;
        }
      }

      .workspace-subheadline {
        float: right;
        clear: both;
      }

      &::after {
        content: '';
        clear: both;
        display: table;
      }
    }

    .workspace {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(1, minmax(0, 480px));

      .work {
        grid-row: auto;
        margin: 0;
        position: relative;
        max-width: 480px;
        overflow: hidden;

        &:nth-child(3n) {
          max-width: 960px;

          .work-picture {
            opacity: 1;
          }

          .work-information {
            opacity: 1;

            .work-information-content-wrapper {
              border: 1px dashed rgba(255,255,255, .7);

              .work-information-content {
                .work-name {
                  font-size: 1.4em;
                  top: 0;
                }

                .work-description {
                  font-size: 1.2em;
                }
              }
            }
          }
        }

        .work-picture {
          display: block;
          width: 100%;
          opacity: .35;
          transition: all .2s;

          img {
            max-width: 100%;
            height: auto;
            display: inline-block;
            transform: scale(1.01) translate3d(0,0,0);
            transition: all .2s;
            backface-visibility: hidden;
          }
        }

        .work-information {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          opacity: 0;
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#4d000000',GradientType=0);
          transition: .2s all;
          display: flex;
          flex-wrap: wrap;
          padding: 20px;
          z-index: 999;

          .work-information-content-wrapper {
            display: flex;
            width: 100%;
            height: 100%;
            border: 1px dashed rgba(255,255,255, 0);
            padding: 20px 35px;
            transition: .5s all;

            .work-information-content {
              align-self: flex-end;

              .work-name {
                font-size: 1.4em;
                font-weight: bold;
                color: #fff;
                margin: 0;
                position: relative;
                top: -10px;
                transition: .2s all;
                text-transform: uppercase;
              }

              .work-description {
                font-size: 1.2em;
                color: #fff;
                opacity: .7;
                font-weight: 300;
                margin: 0;
                text-transform: lowercase;
              }
            }
          }
        }

        &:hover {
          cursor: pointer;

          .work-picture {
            opacity: 1;

            img {
              transform: scale(1.1);
            }
          }

          .work-information {
            opacity: 1;

            .work-information-content-wrapper {
              border: 1px dashed rgba(255,255,255, .7);
            }

            .work-information-content {
              .work-name {
                top: 0;
              }
            }
          }
        }

        .owl-dots {
          position: absolute;
          z-index: 1000;
          bottom: 55px;
          right: 65px;
          display: flex;
          justify-items: center;

          &.disabled {
            display: none;
          }

          .owl-dot {
            background: transparent;
            padding: 0;
            margin: 5px;
            border: 0;

            span {
              width: 10px;
              height: 10px;
              background: rgba(255,255,255,.3);
              display: block;
              border-radius: 50%;
            }

            &.active {
              span {
                width: 14px;
                height: 14px;
                background: rgba(255,255,255,1);
              }
            }

            &:focus {
              outline: none;
            }
          }
        }

        .owl-nav {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 0;
          z-index: 1001;

          &.disabled {
            display: none;
          }

          .owl-prev {
            float: left;
            margin-left: 40px;
            background: transparent;
            border: 0;
            font-size: 24px;
            color: rgba(255,255,255,.6);
            cursor: pointer;
            transition: .2s all;

            &:focus {
              outline: none;
            }

            &:hover {
              color: rgba(255,255,255,1);
            }
          }

          .owl-next {
            float: right;
            margin-right: 40px;
            background: transparent;
            border: 0;
            font-size: 24px;
            color: rgba(255,255,255,.6);
            cursor: pointer;
            transition: .2s all;

            &:focus {
              outline: none;
            }

            &:hover {
              color: rgba(255,255,255,1);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  body {
    .wrapper {
      .workspace-wrapper {
        .workspace-header {
          padding: 35px 85px;
        }

        .workspace {
          grid-template-columns: repeat(2, minmax(0, 480px));

          .work {

            &:nth-child(3n) {
              grid-row: span 2;
              grid-column: span 2;

              .work-information {
                .work-information-content-wrapper {
                  .work-information-content {

                    .work-name {
                      font-size: 1.8em;
                    }

                    .work-description {
                      font-size: 1.4em;
                    }
                  }
                }
              }
            }

            .work-information {
              .work-information-content-wrapper {
                .work-information-content {

                  .work-name {
                    font-size: 1.8em;
                  }

                  .work-description {
                    font-size: 1.4em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  body {
    .wrapper {
      .workspace-wrapper {
        .workspace {
          grid-template-columns: repeat(4, minmax(0, 480px));
        }
      }
    }
  }
}